@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    align-items:center ;
    justify-content: center;
    background-color: rgb(51, 119, 96);
    overflow: hidden;
}
